$text-color: #f7f7f7;
$ball-background: #1a1b21;
$ball-radius: 50%;
@mixin grid-aligment {
  align-self: center;
  justify-self: center;
}
@mixin ball-style {
  height: 3.5rem;
  width: 3.5rem;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  $border: 2px;
  color: #fff;
  background: #000;
  background-clip: padding-box; /* !important */
  border: solid $border transparent; /* !important */
  border-radius: $ball-radius;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !important */
    border-radius: inherit; /* !important */
    background: linear-gradient(to right, #ededed, #353536);
  }
}
.body-img {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: url("../img/b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
}
#wrapper {
  margin: 0 auto;
  width: 57rem;
}
header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: repeating-linear-gradient(to left top, #03c4ff, #100b8f);
  height: 5rem;
  font-family: "Pacifico", cursive;
  border-bottom: 0.2rem solid blue;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-image: linear-gradient(to right, #100b8f, #03c4ff) 1 stretch;
  .lucky_logo {
    width: 18rem;
  }
  .drum_balls {
    width: 9rem;
  }
  .balls {
    margin-right: 0.3rem;
    p {
      margin: 0;
      text-align: right;
      color: $text-color;
      font-size: 0.8rem;
    }
    div {
      height: 1.3rem;
      width: 1.3rem;
      display: inline-block;
      border-radius: $ball-radius;
      background: $ball-background;
    }
  }
}
main {
  position: relative;
}
.main_div {
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-areas:
    "round_no first_ball first_ball first_ball first_ball jackpot_code"
    "ball1 first_ball first_ball first_ball first_ball ball22"
    "ball2 first_ball first_ball first_ball first_ball ball23"
    "ball3 first_ball first_ball first_ball first_ball ball24"
    "ball4 first_ball first_ball first_ball first_ball ball25"
    "ball5 pick pick pick pick ball26"
    "ball6 pick pick pick pick ball27"
    "ball7 ball10 ball13 ball16 ball19 ball28"
    "ball8 ball11 ball14 ball17 ball20 ball29"
    "ball9 ball12 ball15 ball18 ball21 ball30";
  .number_of {
    @include grid-aligment;
    background-image: linear-gradient(
      to bottom right,
      #626263 0%,
      #ededed 20% 30%,
      #9e9d9d 55% 60%,
      #bdbbbb 70% 75%,
      #353536 90% 100%
    );
    width: 9rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    p {
      margin: 0.4rem 0 0 0;
      font-size: 0.9rem;
      &#round_no {
        margin: 0.1rem;
        font-size: 1.9rem;
        font-weight: bold;
      }
    }
  }
  div {
    display: flex;
    margin-left: 3rem;
    flex-shrink: 0;
    p {
      color: $text-color;
      font-weight: bold;
      font-size: 1.3rem;
    }
    div {
      @include ball-style;
    }
  }
}

//ALIGMENT OF THE FRIST FIVE BALLS
.fixed {
  position: absolute !important;
  @include ball-style;
  top: 0;
  &.one {
    top: 1.5rem;
    left: 23rem;
  }
  &.two {
    top: 4.7rem;
    left: 22rem;
  }
  &.three {
    top: 8rem;
    left: 22rem;
  }
  &.four {
    top: 11.5rem;
    left: 23.2rem;
  }
  &.five {
    top: 14.4rem;
    left: 25.5rem;
  }
}

//GRID ALIGMENT

#round {
  grid-area: round_no;
}
#jackpot {
  grid-area: jackpot_code;
}
.drum {
  grid-area: first_ball;
  justify-self: center;
}

.choose_number {
  grid-area: pick;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7rem;
  input {
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: $ball-radius;
    text-align: center;
    width: 3rem;
    height: 3rem;
    margin: 0.3rem;
  }
  button {
    display: block;
    border-radius: 10px;
    background: repeating-linear-gradient(to left top, #03c4ff, #100b8f);
    border: none;
    color: $text-color;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    height: 2rem;
    margin-left: 1rem;
  }
}
